
/*/*-----general styles-----*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --black: #000;
    --black-brown: #261A13;
    --dark-yellow: #F2B705;
    --light-yellow: #F2DA51;
    --corn: cornsilk;
    --white: #fff;


}
body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    /*background-image: radial-gradient(#73665F, #3A3330);*/
    /*background-image: linear-gradient(#261A13, #3A3330);*/
    background-color: var(--black-brown);
}
/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}



/*--header style--*/

header {
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-arrow {
    background-color: none;
    margin-left: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.header-nav {
    background-color: var(--black-brown);
    margin-right: 1em;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}
label {
    margin-right: 1em;
    color: var(--dark-yellow);
    display: none;
}
#hamburger-menu {
    display: none;
}

.arrow {
    color: var(--dark-yellow);
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    max-width: 250px;
}
.searchbox {
    display: flex;
    margin-left: 1em;
}
.search {
    background-color: none;
    width: 400px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.usericon {
    background-color: coral;
    color: var(--dark-yellow);
    width: 92.5px;
    height: 36px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 24px; 
    margin-left: 1em; 
}
/*buttonstyle*/
.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
}


/*--nav style--*/

nav {
    background-color: none;
    position: sticky;
    top: 83.05px;
    padding: 0.5em;
}
nav a {
    font-weight: bold;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
}
nav a:hover {
    color: var(--white);
    text-shadow: 1px 1px #000;
}
.current {
    text-decoration: underline;
}

/*main style*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section {
    width: 37.5em;
}
.title {
    color: #fff;
    font-size: 1.6em;
    text-shadow: 2px 2px #000;
}
.film {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000
}
.view-film {
    position: relative;
}
.film-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filmpage-content {
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}
.description {
    background-color: none;
    display: flex;
}
h2 {
    font-size: 1em;
}
.film-description {
    background-color: cornsilk;
    margin: 0.5em;
    padding-left: 0.5em;
}
.plot {
    background-color: cornsilk;
    margin: 0.5em;
    padding-left: 0.5em;
    flex-direction: column;
}
.viewer-reviews {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.review {
    background-color: cornsilk;
    width: 36.5em;
    margin: 0.5em;
    /*display: flex;
    flex-direction: column;*/
}

footer {
    padding: 1em;
}
footer a {
    color: #F2B705;
    padding: 1em;
}

@media screen and (max-width: 600px) {
    
}