body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
header, footer {
    background-image: radial-gradient(#73665F, #3A3330);
}
/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}

/*header style*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header section:nth-of-type(1) {
    padding-left: 1em;
}
header section:nth-of-type(2) {
    padding-right: 1em;
    display: flex;
}
.arrow {
    color: #F2B705;
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    max-width: 250px;
}
.searchbox {
    display: flex;
}
.search {
    background-color: none;
    width: 400px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.usericon {
    color: #F2B705;
    margin-right: 1em;
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 24px;
}
/*.user {
    /*background-color: none;
    color: #F2B705;
    font-size: 2em;
    margin-bottom: 0;
    margin-right: 0.5em;
    align-self: end;
}*/

/*buttonstyle*/
.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/*nav style*/
nav {
    background-color: burlywood;
    position: sticky;
    top: 83.05px;
    padding: 0.5em;
}
nav a {
    font-weight: bold;
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
}
nav a:hover {
    color: #fff;
    text-shadow: 1px 1px #000;
}

/*main style*/
main {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section {
    width: 37.5em;
}
.title {
    color: #fff;
    font-size: 1.6em;
    text-shadow: 2px 2px #000;
}
.film {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000
}
.view-film {
    position: relative;
}
.film-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filmpage-content {
    background-color: cornsilk;
    margin-top: 1em;
    margin-bottom: 1em;
}
.description {
    background-color: none;
    display: flex;
}
h2 {
    font-size: 1em;
}
.film-description {
    background-color: #fff;
    margin: 0.5em;
    padding-left: 0.5em;
}
.plot {
    background-color: #fff;
    margin: 0.5em;
    padding-left: 0.5em;
    flex-direction: column;
}
.viewer-reviews {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.review {
    background-color: #73665F;
    margin: 0.5em;
    /*display: flex;
    flex-direction: column;*/
}

footer {
    padding: 1em;
}
footer a {
    color: #F2B705;
    padding: 1em;
}

@media screen and (max-width: 600px) {
    
}