body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
header, footer {
    background-image: radial-gradient(#73665F, #3A3330);
}
/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}

/*header style*/
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header section:nth-of-type(1) {
    padding-left: 1em;
}
header section:nth-of-type(2) {
    padding-right: 1em;
}
.arrow {
    color: #F2B705;
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    max-width: 250px;
}
.searchbox {
    display: flex;
}
.search {
    background-color: none;
    width: 400px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.usericon {
    margin-right: 1em;
    color: #F2B705;
    font-size: 2em;
}

/*buttonstyle*/
.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
/*.hamburger-label {
    display: none;
}
#hamburger-menu {
    display: none;
}*/

/*nav style*/
nav {
    background-color: none;
    position: sticky;
    top: 83.05px;
    padding: 0.5em;
}
nav a {
    font-weight: bold;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
}
nav a:hover {
    color: #fff;
    text-shadow: 1px 1px #000;
}
.current {
    text-decoration: underline;
}
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section {
    width: 800px;
}
.title {
    color: #fff;
    font-size: 1.6em;
    text-shadow: 2px 2px #000;
}
.scrolling-wrapper {
    margin-bottom: 1em;
    display: flex;
    overflow-x: scroll;
}
.film-info{
    color: #fff;
}
.topnew {
    border-radius: 10px;
    max-width: 15.625em;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000;
    margin: 1em;
}
footer {
    padding: 1em;
}
footer a {
    color: #F2B705;
    padding: 1em;
}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
    }
    /*.hamburger-label {
        float: right;
        color: #fff;
        padding: 10px;
        font-size: 1,5em;
        display: block;
    }
    nav, #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }*/
}