
/*/*-----general styles-----*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --black: #000;
    --black-brown: #261A13;
    --dark-yellow: #F2B705;
    --light-yellow: #F2DA51;
    --corn: cornsilk;
    --white: #fff;


}
body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    /*background-image: radial-gradient(#73665F, #3A3330);*/
    /*background-image: linear-gradient(#261A13, #3A3330);*/
    background-color: var(--black-brown);
}
/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}



/*--header style--*/

header {
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-arrow {
    background-color: none;
    margin-left: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.header-nav {
    background-color: var(--black-brown);
    margin-right: 1em;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}
label {
    margin-right: 1em;
    color: var(--dark-yellow);
    display: none;
}
#hamburger-menu {
    display: none;
}

.arrow {
    color: var(--dark-yellow);
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    max-width: 250px;
}
.searchbox {
    display: flex;
    margin-left: 1em;
}
.search {
    background-color: none;
    width: 400px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.usericon {
    background-color: coral;
    color: var(--dark-yellow);
    width: 92.5px;
    height: 36px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 24px; 
    margin-left: 1em; 
}
/*buttonstyle*/
.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
}

main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
main section {
    width: 800px;
}
.title {
    color: var(--corn);
    font-size: 1.6em;
    text-shadow: 2px 2px #000;
}
.subtitle {
    color: var(--corn);
    font-size: 1em;
    text-shadow: 2px 2px #000;
}
.topnew {
    border-radius: 10px;
    max-width: 270px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000;
    margin: 10px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
}
.filminfo {
    position: relative;
}
.filmtitle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.filminfo:hover .topnew {
    opacity: 0.3;
}
.filminfo:hover .filmtitle {
    opacity: 1;
}
.filminfo:hover .ratings {
    opacity: 1;
}
.filmtext {
    color: var(--corn);
}
.ratings {
    margin-top: 1em;
}


@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    .searchbox {
        margin-left: 0;
    }
    main section {
        width: 700px;
    }
    
    .filmtitle {
        opacity: 1;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column;
	    justify-content: flex-start;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        color: #F2B705;
    }
    .title {
        font-size: 0.9em;
    }
    main section {
        width: 300px;
    }
    .subtitle {
        font-size: 0.8em;
    }
    .scrolling-wrapper {
        display: flex;
        overflow-x: visible;
        flex-wrap: wrap;
        justify-content: center;
    }
    .topnew {
        width: 100px;
    }
    .filmtext {
        font-size: 0.7em;
    }
    .ratings {
        font-size: 0.5em;
    }
}