
/*/*-----general styles-----*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --black: #000;
    --black-brown: #261A13;
    --dark-yellow: #F2B705;
    --light-yellow: #F2DA51;
    --corn: cornsilk;
    --white: #fff;


}
body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    background-color: var(--black-brown);
}

/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}
/*buttonstyle*/
.btn {
    background-image: radial-gradient(var(--light-yellow), var(--dark-yellow));
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
}
.btn:hover {
    background-image: none;
    background-color: var(--light-yellow);
}
.btn:active {
    background-image: none;
    background-color: var(--light-yellow);
    color: var(--white);
}


/*--header style--*/

header {
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-arrow {
    background-color: none;
    margin-left: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.header-nav {
    background-color: var(--black-brown);
    margin-right: 1em;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}
label {
    margin-right: 1em;
    color: var(--dark-yellow);
    display: none;
}
#hamburger-menu {
    display: none;
}

.arrow {
    color: var(--dark-yellow);
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(var(--light-yellow), var(--dark-yellow));
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    max-width: 15.625em;
}
.searchbox {
    display: flex;
    margin-left: 1em;
}
.search {
    background-color: none;
    width: 25em;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(var(--light-yellow), var(--dark-yellow));
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: var(--black);
    text-align: center;
    text-decoration: none;
}
.usericon {
    background-color: coral;
    color: var(--dark-yellow);
    width: 92.5px;
    height: 36px;
    text-align: center;
    font-size: 2em;
    border: 1px solid var(--black);
    border-radius: 24px; 
    margin-left: 1em; 
}

/*buttonstyle*/
.btn {
    background-image: radial-gradient(var(--light-yellow), var(--dark-yellow));
    border: 3px var(--dark-yellow);
    border-radius: 24px;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
}
.btn:hover {
    background-image: none;
    background-color: var(--light-yellow);
}
.btn:active {
    background-image: none;
    background-color: var(--light-yellow);
    color: var(--white);
}


/*--nav style--*/

nav {
    background-color: none;
    position: sticky;
    top: 83.05px;
    padding: 0.5em;
    text-transform: capitalize;
}
nav a {
    font-weight: bold;
    font-size: 0.8em;
    color: var(--black);
    text-decoration: none;
    padding: 0.5em;
}
nav a:hover {
    color: var(--white);
    text-shadow: 1px 1px var(--black);
}
.current {
    text-decoration: underline;
}

/*--mainstyles--*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
.title {
    color: var(--corn);
    font-size: 1.6em;
    text-shadow: 2px 2px var(--black);
}
.subtitle {
    color: var(--corn);
    font-size: 1em;
    text-shadow: 2px 2px var(--black);
}




/*--footer style--*/
footer {
    padding: 1em;
}
footer a {
    color: var(--dark-yellow);
    padding: 1em;
}