/*-----styles filmdetail-----*/

:root {
    --black: #000;
    --black-brown: #261A13;
    --dark-yellow: #F2B705;
    --light-yellow: #F2DA51;
    --corn: cornsilk;
    --white: #fff;
}

/*main style*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    text-transform: capitalize;
}
main section {
    width: 37.5em;
}
.title {
    color: var(--corn);
    font-size: 1.6em;
    font-weight: bolder;
    text-shadow: 2px 2px var(--black);
}
.film {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid var(--black);
    -moz-box-shadow: 0px 3px 6px var(--black);
    -webkit-box-shadow: 0px 3px 6px var(--black);
    box-shadow: 0px 3px 6px var(--black);
}
.view-film {
    position: relative;
}
.film-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filmpage-content {
    background-color: var(--black-brown);
    margin-top: 1em;
    margin-bottom: 1em;
}
.description {
    background-color: none;
    display: flex;
}
h2 {
    font-size: 1em;
}
.film-description {
    background-color: var(--corn);
    margin: 0.5em;
    padding-left: 0.5em;
}
.plot {
    background-color: var(--corn);
    margin: 0.5em;
    padding-left: 0.5em;
    flex-direction: column;
}
.viewer-reviews {
    background-color: var(--black-brown);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
h3 {
    color: var(--corn);
    padding-left: 0.5em;
}
.review {
    background-color: var(--corn);
    width: 36.5em;
    margin: 0.5em;
}


@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    .searchbox {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        height: 130px;
    }

    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        color: var(--dark-yellow);
    }
    .title {
        font-size: 0.9em;
    }
}