/*main style*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
main section {
    width: 37.5em;
}
.title {
    color: #fff;
    font-size: 1.6em;
    font-weight: bolder;
    text-shadow: 2px 2px #000;
}
.film {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000
}
.view-film {
    position: relative;
}
.film-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filmpage-content {
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}
.description {
    background-color: none;
    display: flex;
}
h2 {
    font-size: 1em;
}
.film-description {
    background-color: cornsilk;
    margin: 0.5em;
    padding-left: 0.5em;
}
.plot {
    background-color: cornsilk;
    margin: 0.5em;
    padding-left: 0.5em;
    flex-direction: column;
}
.viewer-reviews {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.review {
    background-color: cornsilk;
    width: 36.5em;
    margin: 0.5em;
    /*display: flex;
    flex-direction: column;*/
}


@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    .searchbox {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column;
	    justify-content: flex-start;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        color: #F2B705;
    }
    .title {
        font-size: 0.9em;
    }
}