body {
    background-image: url(../images/background_square-eyes1.jpg);
}

header{
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

nav {
    display: none;
}
#hamburger-menu {
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}