h1 {
    font-size: 40px;
}
h2, h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
.white {
    color: #fff;
}
footer ul {
    font-size: 16px;
    color: #F2DA51;
}
.container {
    position: relative;
    text-align: center;
    color: #fff;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.bottom-left{
    position: absolute;
    top: 8px;
    left: 16px;
}