body {
    background-color: #F2DA51;
}
.type {
    font-family: 'montserrat',verdana, sans-serif;
}
.black {
    color: #000;
}
.bold {
   font-weight: bold; 
}
nav li {
    display: inline-block;
}
nav ul {
    padding: 19px;
}
nav a {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 19px;
}
.button {
    background-color: transparent radial-gradient(closest-side at 50% 50%, var(--unnamed-color-f2da51) 0%, var(--unnamed-color-f2b705) 100%) 0% 0% no-repeat padding-box;
    border: #000;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}