h1 {
    font-size: 2em;
}
h2, h3 {
    font-size: 1em;
}
h4 {
    font-size: 1em;
}
.white {
    color: #fff;
}
footer ul {
    font-size: 1em;
    color: #F2DA51;
}
.container {
    width: max-content;
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    top: 0.5em;
    left: 1em;
}
.bottom-left {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
}
main li {
    padding: 6px;
}

.description {
    text-align: left;
    padding-left: 10px;
}

.teaser {
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 3px 6px #000;
    -webkit-box-shadow: 0px 3px 6px #000;
    box-shadow: 0px 3px 6px #000;
}
