body {
    background-color: #F2DA51;
}
.type {
    font-family: verdana, sans-serif;
}
.black {
    color: #000;
}
.bold {
   font-weight: bold; 
}
nav li {
    display: inline-block;
}
nav ul {
    padding: 19px;
}
nav a {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 19px;
}
