/*----styles genre-----*/

/*main styles*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    text-transform: capitalize;
}
main section {
    width: 50em;
}
.title {
    color: var(--corn);
    font-size: 1.6em;
    text-shadow: 2px 2px var(--black);
}
.subtitle {
    color: var(--corn);
    font-size: 1em;
    text-shadow: 2px 2px var(--black);
}
.genre {
    border-radius: 10px;
    max-width: 15.75em;
    border: 1px solid var(--black);
    -moz-box-shadow: 0px 3px 6px var(--black);
    -webkit-box-shadow: 0px 3px 6px var(--black);
    box-shadow: 0px 3px 6px var(--black);
    margin: 10px;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
}
.filminfo {
    position: relative;
}
.filmtitle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.filminfo:hover .genre {
    opacity: 0.3;
}
.filminfo:hover .filmtitle {
    opacity: 1;
}
.filminfo:hover .ratings {
    opacity: 1;
}
.filmtext {
    color: var(--corn);
}
.ratings {
    margin-top: 1em;
}


@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    .searchbox {
        margin-left: 0;
    }
    main section {
        width: 43.75em;
    }
    
    .filmtitle {
        opacity: 1;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column;
	    justify-content: flex-start;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        color: var(--dark-yellow);
    }
    .title {
        font-size: 0.9em;
    }
    main section {
        width: 18.75em;
    }
    .subtitle {
        font-size: 0.8em;
    }
    .genre {
        width: 6.25em;
    }
    .filmtext {
        font-size: 0.7em;
    }
    .ratings {
        font-size: 0.5em;
    }
}
