body {
    background-image: url(../images/background_square-eyes1.jpg);
}

header{
    min-height: 119px;
}

.banner {
    background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
}

.hamburger-label {
    float: right;
    color: #fff;
    padding: 10px;
    font-size: 1,5em;
    display: block;
}

#hamburger-menu:checked ~ nav {
    display: block;
}