/*-----index styles-----*/

/*mainstyle*/
main {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section:nth-of-type(2) {
    background-color: var(--black);
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid var(--black);
    -moz-box-shadow: 0px 3px 6px var(--black);
    -webkit-box-shadow: 0px 3px 6px var(--black);
    box-shadow: 0px 3px 6px var(--black);
}
.title {
    color: var(--corn);
    font-size: 1.6em;
    text-shadow: 2px 2px var(--black);
}
.teaser {
    max-width: 37.5em;
    border-radius: 10px;
    border: 1px solid var(--black);
    -moz-box-shadow: 0px 3px 6px var(--black);
    -webkit-box-shadow: 0px 3px 6px var(--black);
    box-shadow: 0px 3px 6px var(--black);
}
.fp-1 {
    position: relative;
}

.circle {
    color: var(--dark-yellow);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main i {
    padding: 0.5em;
    font-size: 0.7em;
}
.fp-2, .fp-3, .fp-4, .fp-5 {
    display: none;
}

.fp-camera {
    max-width: 12.5em;
    border-radius: 10px 0px 0px 10px;
}
.main-text {
    color: cornsilk;
    max-width: 25em;
    padding: 0.5em;
}
.sign-log {
    display: none;
}



@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    .searchbox {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column;
	    justify-content: flex-start;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 12.5em;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    nav a {
        color: var(--dark-yellow);
    }
    .title {
        font-size: 0.9em;
    }
    .main-teaser {
        display: none;
    }
    main section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
    }
    .fp-camera {
        width: 20em;
        border-radius: 10px;
        align-self: center;
        margin-top: 0.5em;
    }
    .main-text {
        color: cornsilk;
        font-size: 0.7em;
        /*max-width: 400px;*/
        /*padding: 0.5em;*/
    }
    .sign-log {
        display: flex;
        justify-content: center;
        padding: 2em;
        margin-right: 1em;
    }
}