body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
}
header, nav, footer {
    background-color: #fff;
}

/*text styles*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}
.black {
    color: #000;
}
.bold {
   font-weight: bold; 
}


/*bodystyle*/
body{
    margin: 0;
}
.gridbody {
    display: grid;
    grid-gap: 0.2em;
    min-height: 100vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 2em auto 50px;
    grid-template-areas: 
    'header header header'
    'nav . .'
    '. main .'
    'footer footer footer';
}
.body-header {
    grid-area: header;
}
.body-nav {
    grid-area: nav;
}
.body-main {
    grid-area: main;
}
.body-footer {
    grid-area: footer;
}

/*headerstyle*/
.gridheader {
    display: grid;
    min-height: 80px;
    grid-template-columns: max-content auto auto max-content;
    grid-template-rows: auto;
    grid-template-areas: 
    'logo search signup login';
    align-content: center;
}
.logo {
    max-width: 300px;
    justify-self: start;
}
.header-logo {
    grid-area: logo;
}
.header-search {
    grid-area: search;
    justify-self: end;
    align-self: end;
}
.header-signup {
    grid-area: signup;
    justify-self: end;
    align-self: end;
}
.header-login {
    grid-area: login;
    justify-self: end;
    align-self: end;
    padding-right: 1em;
    padding-left: 1em;
}

.searchbar {
    float: right;
}

.search {
    background-color: wheat;
    width: 300px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    float: right;
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.search-btn:hover {
    background-image: none;
    background-color: #F2DA51;
    border: 3px #F2B705;
}

.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    background-image: none;
    background-color: #F2DA51;
    border: 3px #F2B705;
}

/*navstyle*/
ul {
    padding: 0;
    margin-top: 0;
}
.nav-list {
    display: inline-block;
    margin-right: 0.5em; 
    padding: 0.4em;
    font-size: 0.8em;
}
.nav-list:hover {
    font-size: 1em;
}


/*mainstyle*/
main {
    margin-bottom: 1em;
}
.gridmain {
    display: grid;
    grid-gap: 1em;
    min-height: 100vh;
    grid-template-rows: 40px max-content auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'heading heading heading'
    '. teaser .'
    '. description .';
}
.main-title {
    grid-area: heading;
    display: flex;
    justify-content: center;
}
.title {
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px #000;
    margin: 0;
    padding: 0;
}
.main-description {
    grid-area: description;
    display: flex;
    justify-content: flex-start;
}
.main-teaser {
    grid-area: teaser;
}

.main-text {
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    border-radius:  0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.teaser {
    max-width: 600px;
    border-radius: 10px;
}
.fp-camera {
    max-width: 200px;
    border-radius: 10px 0px 0px 10px;
}




/*footerstyle*/
footer {
    background-color: #000;
    opacity: 0.6;
}
.grid-footer {
    display: grid;
    grid-gap: 1em;
    min-height: 50px;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    grid-template-areas: 
    'about contact';
    align-content: center;
    padding-left: 1em;
}
.footer-item1 {
    background-color: teal;
    grid-area: about;
}
.footer-item2 {
    background-color: tomato;
    grid-area: contact;
}



@media (max-width: 800px) {
    body {
        background-image: url(../images/background-square-eyes2.jpg);
        background-size: cover;
    }
}

