html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../images/background_square-eyes1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header, footer {
    /*background-image: radial-gradient(#73665F, #3A3330);*/
    /*background-image: linear-gradient(#261A13, #3A3330);*/
    background-color: #261A13;
}
/*text style*/
.type {
    font-family: 'montserrat',verdana, sans-serif;
}



/*header style*/
header {
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /*style desktop*/
    /*height: 90px;*/
    /*align-items: flex-end;*/
}
.logo-arrow {
    background-color: none;
    margin-left: 1em;
    display: flex;
    flex-wrap: nowrap;
}
.header-nav {
    background-color: #261A13;
    margin-right: 1em;

/*style desktop*/
    /*top: 90px;*/
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    /*flex-direction: column-reverse;
    align-items: flex-end;*/

/*style desktop*/
    /*width: 50em;*/
    /*justify-content: space-between;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
}
label {
    margin-right: 1em;
    color: #F2DA51;
    display: none;
}
#hamburger-menu {
    display: none;
}

.arrow {
    color: #F2B705;
    font-size: 1em;
}
.logo {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    max-width: 250px;
}
.searchbox {
    display: flex;
    margin-left: 1em;
}
.search {
    background-color: none;
    width: 400px;
    border: none;
    border-radius: 24px 0px 0px 24px;
    padding: 10px;
    margin-right: 0;
}
.search-btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: none;
    border-radius: 0px 24px 24px 0px;
    padding: 10px 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.usericon {
    background-color: coral;
    color: #F2B705;
    width: 92.5px;
    height: 36px;
    text-align: center;
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 24px; 
    margin-left: 1em; 
}

/*buttonstyle*/
.btn {
    background-image: radial-gradient(#F2DA51, #F2B705);
    border: 3px #F2B705;
    border-radius: 24px;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1em;
}

.current {
    text-decoration: underline;
}

/*.hamburger-label {
    float: right;
    color: #fff;
    padding: 10px;
    font-size: 1,5em;
    display: block;
}*/

/*nav style*/
nav {
    background-color: none;
    position: sticky;
    top: 83.05px;
    padding: 0.5em;
}
nav a {
    font-weight: bold;
    font-size: 0.8em;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
}
nav a:hover {
    color: #fff;
    text-shadow: 1px 1px #000;
}

/*footer style*/
footer {
    padding: 1em;
}
footer a {
    color: #F2B705;
    padding: 1em;
}


@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    /*flex-direction: column;
	    justify-content: center;
        align-items: center;*/
        flex-direction: row;
        position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    .searchbox {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px){
    body {
        background-image: url(../images/background-square-eyes2.jpg);
    }
    label {
        display: block;
        cursor: pointer;
    }
    
    .header-nav {
        display: none;
	    flex-direction: column;
	    justify-content: flex-start;
        align-items: flex-start;
	    position: absolute;
        top: 90px;
        width: 100%;
        
    }
    #hamburger-menu:checked ~ section {
	    display: flex;
    }
    .search {
        width: 200px;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav a {
        color: #F2B705;
    }
}